.Weather {
  border:3px solid #344fa0;;
  border-radius: 25px ;
  background:linear-gradient(rgb(125, 238, 250) 0%, rgb(130, 149, 222) 100%);
}
.search-form {
  padding-right: 0;
  padding-left: 35px;
  padding-bottom: 20px;
}
.Weather h1 {
  font-size: 30px;
  line-height: 26px;
  font-weight: normal;
  color: #344fa0;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* .WeatherInfo canvas {
  margin-left: 50px;
} */

.precipitation {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #70757a;
  font-weight: normal;
}

.humidity {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color:  #0e256b;
  font-weight: normal;
}

.wind {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color:  #0e256b;
  font-weight: normal;
}

.description {
  color: #0e256b;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 15px;
}
.temperature {
  text-align: center;
  color: #202124;
  line-height: 60px;
  font-size: 60px;
  font-weight: normal;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  color: #344fa0;
}
.WeatherTemperature {
  color: red;
}
.unit {
  display: inline;
  line-height: 24px;
  font-size: 16px;
  color: #202124;
  vertical-align: top;
  font-weight: normal;
}

.img {
  height: 60px;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  font-size: medium;
  font-weight: normal;
}
.Weather form {
  padding: 16px;
}

/* .Weather img {
  height: 80px;
  width: 80px;
} */
.Weather ul {
  color:  #0e256b;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.WeatherForecast {
  padding-bottom: 30px;
}




.WeatherInfo .date {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.WeatherInfo .icon {
  display: block;
  text-align: center;
}

.search-icon {
  position: relative;
  left: -16%;
  padding-top: 5px;
  margin: 0;
  border:0;
  display: block;
  background: transparent;
  color: #344fa0;
  
}
.search-icon:hover {
  color: rgb(113, 143, 182);
}

.location-icon {
  position: relative;
  left: -9%;
  padding-top: 5px;
  margin: 0;
  display: block;
  background: transparent;
  color: #344fa0;
  /* border:2px solid #344fa0;
  border-radius: 5px; */
  border:0;
  
}

.location-icon:hover {
  color: rgb(113, 143, 182);
}

.WeatherForecastDay .WeatherForecast-temp-max {
  font-family: 'Noto Sans', sans-serif;
  color: #0e256b;
}
.WeatherForecastDay .WeatherForecast-temp-min {
  font-family: 'Noto Sans', sans-serif;
  color: #0e256b;

}
.WeatherForecastDay .WeatherForecast-day {
  font-family: 'Noto Sans', sans-serif;
  color: #0e256b;

}

.WeatherInfo .WeatherTemperature .unit {font-family: 'Poppins', sans-serif;
  color: #344fa0;
font-size: 25px;}